
.articleArea{
    /* border: solid; */
    min-height: 800px;
    float: left;
    position: relative;
}
.prof{
    position: relative;
    clear:both;
    float:left;
    margin-left: 5%;
    margin-top: 5%;
    /* border: solid; */
}
.prof .photo{ 
    position: relative;
    float : left
    /* //border: solid; */
}
.prof .photo img{ 
    width: 200px;
    height: auto;
}
.prof figcaption{
    text-align: center;
}

.prof .profTable{
    float: left;
    margin-top: 5%;
}