body {
   margin:0;
   padding:0;
   height:100%;
}
.contents-wrap {
   min-height:100%;
   position:relative;
   padding-bottom:100px;/* footer height */
}
.footer {
   clear: both;
   width: 1350px;;
   height:100px;
   position:relative;
   margin-left:15% ;
   bottom:0;
   border:solid;
   background:#4b4b4b;
   background-position:center bottom ;
    text-align: center;
    color: white;
  
  bottom:0;
 
  
}