a{text-decoration: none; color: inherit;}
.underline{
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.logo{
    
    list-style-type: none;
    float:left;
}
.headlogo{
    width: 300%;
    height: 300%;
}

.head_banner{ 
    
    list-style-type: none;
    
   position: relative;
    padding-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
    width: 1350px;
    height: fit-content;
    border-bottom: RGB(154,154,154);
}


.category ul ul {padding-left:0; margin-left:0;}

.category li{
    list-style-type: none;
    float:left;
    
    width:100px;
    padding-left: 0px;
    margin-left:0px;
    
    margin-right: 20px;
    text-align:center;
 
    /* border:solid; */
}
.category{
    z-index: +1;
    list-style-type: none;
    float:right ;
    font-size: 20px;
    padding: left 10px; margin-left:0;
    padding-top: 10px;
    width: fit-content;
   
    
}

.category li:hover ul{
    display: block;
    width:inherit;
    transition-delay: 5s;
}
.category li:hover .sub{
    display: block;
    transition-delay: 5s;
    opacity:1; visibility: visible;
}



.sub{
    list-style-type:none;
   display:none;
   position:absolute; 
   margin-bottom: 70px;
   border: solid;
   z-index: +1;
   width: fit-content;
   font-size:medium;
  }

  .sub li{
    width:inherit; 
    line-height:normal;
    text-align: center;
    width:auto;
    height : auto;
  }

  .sub li:hover .sub{
      cursor:pointer;
    display: block;
    transition-delay: 5s;
}